<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="description" content="Adress of Volleyball - VolleyBASE">
<meta name="keywords" content="Volleyball, Database">

<title>Admin Page VolleyBASE - {% block title %}{% endblock %}</title>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin_style.css') }}">
	<style type="text/css">
		body{
			background-color: white;
			margin-left:10px;
			margin-right:10px;
			margin-bottom:10px;
			margin-top:10px;
		}
		a{
			color: #000;
			text-decoration: none;
		}
		a:hover{
			color: red;
			text-decoration: underline;
		}
		#admin_menu{

		}

		#admin_menu table,th,td{
			padding-left: 5px;
			padding-right: 5px;
			border:1px #000000 solid;
			border-collapse:collapse;
		}

	</style>
</head>

<body>

	<table align="center" width="100%"  id="admin_menu">
		<tr>
			<td width="200px" ><a href="{{ url_for('admin_home_page') }}" title="Cemal" style="color:orange;"><b>ADMIN MENU</b></a></td>
			<td rowspan="17" valign="top" style="padding-top: 20px;">{% block content %}{% endblock %}</td>
		</tr>
		<tr>
			<td><a href="{{ url_for('admin_seasons_page') }}" title="Cemal">Edit News</a></td>
		</tr>
		<tr>
			<td><a href="{{ url_for('admin_leagues_page') }} " title="Cemal">Edit Leagues</a></td>
		</tr>
		<tr>
			<td><a href="{{ url_for('admin_seasons_page') }}" title="Cemal">Edit Seasons</a></td>
		</tr>
		<tr>
			<td><a href="{{ url_for('admin_leagues_page') }} " title="Meral">Edit Players</a></td>
		</tr>
		<tr>
			<td><a href="{{ url_for('admin_leagues_page') }} " title="Meral">Edit Team Players</a></td>
		</tr>
		<tr>
			<td><a href="{{ url_for('admin_leagues_page') }} " title="Meral">Edit Countries</a></td>
		</tr>
		<tr>
			<td><a href="{{ url_for('admin_leagues_page') }} " title="Tuğba">Edit Nationalities</a></td>
		</tr>
		<tr>
			<td><a href="{{ url_for('admin_leagues_page') }} " title="Tuğba">Edit Referees</a></td>
		</tr>
		<tr>
			<td><a href="{{ url_for('admin_leagues_page') }} " title="Tuğba">Edit Arenas</a></td>
		</tr>
		<tr>
			<td><a href="{{ url_for('admin_leagues_page') }} " title="Meriç">Edit Teams</a></td>
		</tr>
		<tr>
			<td><a href="{{ url_for('admin_leagues_page') }} " title="Meriç">Edit Season Teams</a></td>
		</tr>
		<tr>
			<td><a href="{{ url_for('admin_leagues_page') }} " title="Şeyma">Edit Matches</a></td>
		</tr>
		<tr>
			<td><a href="{{ url_for('admin_leagues_page') }} " title="Şeyma">Edit Scores</a></td>
		</tr>
		<tr>
			<td><a href="{{ url_for('admin_leagues_page') }} " title="Şeyma">Edit Mail List</a></td>
		</tr>
		<tr>
			<td><a href="{{ url_for('admin_leagues_page') }} " title="Meriç">Edit Website Informations</a></td>
		</tr>

		<tr>
			<td> * <i>If want see which student did which part, you can hover on menu links</i></td>
		</tr>
		<tr>
			<td><a href="{{ url_for('home_page') }}"><b>Return Web Site</b></a></td>
		</tr>
	</table>

</body>
</html>
