{% extends "layout.html" %}

{% block title %} Countries {% endblock %}

{% block content %}
    	<h1>About Us - Meral</h1><hr>

   <form action="{{ url_for('admin_countries_page') }}" method = "post">
		<table id="countries">
			<tr>
				<td>NAME</td>
			</tr>
		{% for ID, name in countries %}
		<tr>
			<td class="countryItem">{{name}}</td>
			<td class="countryItem"><a href="{{ url_for('admin_countries_page_delete', DELETEID=ID) }}">Delete</a></td>
			<td class="countryItem"><a href="{{ url_for('admin_countries_page_update', UPDATEID=ID) }}">Update</a></td>
		</tr>
		{% endfor %}
		<tr>
			<td class="newCountry"><input type="text" name="name" required="required"></td>
			<td> </td>
			<td> </td>
		</tr>
		<tr>
			<td colspan="2" align="right"><input value="Add New Country" name="add" type="submit"></td>
		</tr>
		</table>
	</form>

{% endblock %}
