{% extends "/admin/admin_layout.html" %}

{% block title %} Leagues {% endblock %}

{% block content %}
    <form action="{{ url_for('admin_leagues_page') }}" method = "post">
		<table id="leaguesTable">

		{% for LID, CID, League_Name, Country_Name in leagues %}
		<tr>
			<td class="LeaguesTableItem">{{LID}}</td>
			<td class="LeaguesTableItem">{{League_Name}}</td>
			<td class="LeaguesTableItem">{{Country_Name}}</td>
			<td class="LeaguesTableItem"><a href="{{ url_for('admin_leagues_page_delete', DELETEID=LID) }}">Delete</a>
			<td class="LeaguesTableItem"><a href="{{ url_for('admin_leagues_page_update', UPDATEID=LID) }}">Update</a></td>
		</tr>
		{% endfor %}
		<tr>
			<td class="LeaguesTableNewItem"> </td>
			<td class="LeaguesTableNewItem"><input type="text" name="name" required="required" style="margin-left:3px;width:95%"></td>
			<td class="LeaguesTableNewItem"><select  name="country" required="required">
				{% for ID, Name in countries %}
					<option value="{{ ID }}">{{ Name }}</option>
				{% endfor %}
				</select></td>
			<td class="LeaguesTableNewItem"> </td>
			<td class="LeaguesTableNewItem"> </td>
		</tr>
		<tr>
			<td colspan="5" align="right" style="padding-right:5px"><input value="Add New League" name="add" type="submit"></td>
		</tr>
		</table>
	</form>
{% endblock %}
