{% extends "/admin/admin_layout.html" %}

{% block title %} Leagues {% endblock %}

{% block content %}
<form action="APPLY" method = "post">
		<table width="500px">

		{% for ID, League_Name, Country_ID in leagues %}
		<tr>
			<td><input type="hidden" name="ID" required="required" value="{{ID}}" style="width:95%"></td>
			<td><input type="text" name="name" required="required" value="{{League_Name}}" style="width:95%"></td>
			<td width="100px"><select  name="country">
				{% for ID, Name in countries %}
					<option value="{{ ID }}" {% print("selected") if Country_ID == ID %}>{{ Name }}</option>
				{% endfor %}
				</select>
			</td>
		</tr>
		{% endfor %}
		<tr>
			<td colspan="3" align="center"><input value="Update League" name="add" type="submit"></td>
		</tr>
		</table>
	</form>
{% endblock %}
