{% extends "admin/admin_layout.html" %}

{% block title %} Home Page {% endblock %}

{% block content %}
	<form action="APPLY" method = "post">
	  {% for ID,News_Title, News_Details, News_Picture in news %}
	    <table width="1070px" height="400px" style="border: hidden;">
	      <tr style="border: hidden;">
	        <td rowspan="3" valign="top" width="200px" style="border: hidden;"><img src="{{ url_for('static', filename='img/news_img/'+News_Picture) }}" width="200px" height="200px" alt="Erro"><br><input type="text" name="picture" required="required" value="{{ News_Picture }}" style="width:95%"></td>
	        <td height="40px" valign="middle" style="padding-left: 10px; border: hidden;"><input type="text" name="title" required="required" value="{{ News_Title }}" style="width:95%"></td>
	      </tr>
	      <tr style="border: hidden;">
	        <td style="padding-left: 10px; border: hidden;" valign="top" ><textarea name="detail" style="width: 100%; height: 100%;">{{ News_Details }}</textarea></td>
	      </tr>
	      <tr style="border: hidden;">
	        <td colspan="3" height="30px"><input type="hidden" name="News_ID" required="required" value="{{ID}}" style="width:95%"><input value="Update News" name="add" type="submit"></td>
	      </tr>
	    </table>
	</form>
  {% endfor %}


{% endblock %}
