{% extends "layout.html" %}

{% block title %} Teams {% endblock %}

{% block content %}
    <h1>Admin Season Team/Update Page - Meric</h1><hr>

<form action="APPLY" method = "post">
		<table id="teamsTable">

		{% for ID, Seasons_ID, Team_ID in season_team %}
		<tr>
			<td class="teamsTableItem"><input type="hidden" name="ID" required="required" value="{{ID}}" style="width:95%"></td>
			

			<td class="teamsTableItem"><select  name="Season_ID">
				{% for ID, Season_Name in seasons %}
					<option value="{{ ID }}">{{ Season_Name }}</option>
				{% endfor %}
			</select></td>
						
			<td class="teamsTableItem"><select  name="Team_ID">
				{% for ID, Team_Name in teams %}
					<option value="{{ ID }}" {% print("selected") if Team_ID == ID %}>{{ Team_Name }}</option>
				{% endfor %}
			</select>
			</td>
		</tr>
		{% endfor %}
		<tr>
			<td colspan="3" align="center"><input value="Update Season Team" name="add" type="submit"></td>
		</tr>
		</table>
	</form>
{% endblock %}
