{% extends "layout.html" %}

{% block title %} Season Team {% endblock %}

{% block content %}
    <h1>Admin Season Team - Meric</h1><hr>
    <a href="{{ url_for('teams_page') }}">Teams Page</a><br><br>
	<form action="{{ url_for('admin_season_team_page') }}" method = "post">
		<table id="teamsTable">
		<tr>
			<td class="teamsTableHeader"><b><center>Season Name</b></center></td>
			<td class="teamsTableHeader"><b><center>Teams</b></center></td>
			<td class="teamsTableItem"></a>
			<td class="teamsTableItem"></a></td>
		</tr>
		{% for ID ,Season_Name, Team_Name in season_team %}
		<tr>
			<td class="teamsTableItem">{{ Season_Name }}</td>
			<td class="teamsTableItem">{{ Team_Name }}</td>
			<td class="teamsTableItem"><a href="{{ url_for('admin_season_team_page_delete', DELETEID=ID) }}">Delete</a>
			<td class="teamsTableItem"><a href="{{ url_for('admin_season_team_page_update', UPDATEID=ID) }}">Update</a></td>
		</tr>
		{% endfor %}
		<tr>

			<td class="teamsTableItem"><select  name="Season_ID">
				{% for ID, Season_Name in seasons %}
					<option value="{{ ID }}">{{ Season_Name }}</option>
				{% endfor %}
			</select></td>

			<td class="teamsTableItem"><select  name="Team_ID">
				{% for ID, Team_Name in teams %}
					<option value="{{ ID }}">{{ Team_Name }}</option>
				{% endfor %}
			</select></td>
		</tr>
		<tr>
			<td colspan="5" align="right" style="padding-right:5px"><input value="Add New Season Team" name="add" type="submit"></td>
		</tr>
		</table>
	</form>
{% endblock %}
