{% extends "/admin/admin_layout.html" %}

{% block title %} Team Players {% endblock %}

{% block content %}


   <form action="APPLY" method = "post">
		<table id="teamplayers">
			<tr>
				<td>PLAYER NAME</td>
				<td>SEASON NAME</td>
				<td>TEAM NAME</td>
			</tr>
		{% for playerid, seasonid, teamid in teamplayers %}
		<tr>
			<td class=newTeamplayer><select  name="playerid">
				{% for ID, name in players %}
					<option value="{{ ID }}" {% print("selected") if playerid == ID %} >{{ name }}</option>
				{% endfor %}
			</select></td>
			<td class=newPlayer><select  name="seasonid">
				{% for ID, Season_Name in seasons %}
					<option value="{{ ID }}" {% print("selected") if seasonid == ID %}>{{ Season_Name }}</option>
				{% endfor %}
			</select></td>
			<td class=newPlayer><select  name="teamid">
				{% for ID, Team_Name in teams %}
					<option value="{{ ID }}" {% print("selected") if teamid == ID %}>{{ Team_Name }}</option>
				{% endfor %}
			</select></td>
		</tr>
		{% endfor %}
				<tr>
			<td colspan="3"><input value="Update TeamPlayer" name="update" type="submit"></td>
		</tr>
		</table>
	</form>
		{% endblock %}
