{% extends "/admin/admin_layout.html" %}

{% block title %} Teams {% endblock %}

{% block content %}
<form action="APPLY" method = "post">
		<table id="teamsTable">

		<tr>
			<td class="teamsTableItem"></a>
			<td class="teamsTableHeader"><b><center>Team Name</b></center></td>
			<td class="teamsTableHeader"><b><center>League Name</b></center></td>
		</tr>

		{% for ID, Team_Name in teams %}
		<tr>
			<td class="teamsTableItem"><input type="hidden" name="ID" required="required" value="{{ID}}" style="width:95%"></td>
			<td class="teamsTableItem"><input type="text" name="name" required="required" value="{{Team_Name}}" style="width:95%"></td>
			<td class="teamsTableItem"><select  name="leagues_id">
				{% for ID, League_Name in leagues %}
					<option value="{{ ID }}"{% print("selected") if Leagues_ID == ID %}>{{ League_Name }}</option>
				{% endfor %}
			</select></td>
		</tr>
		{% endfor %}
		<tr>
			<td colspan="3" align="center"><input value="Update Team" name="add" type="submit"></td>
		</tr>
		</table>
	</form>
{% endblock %}
