{% extends "layout.html" %}

{% block title %} Arenas {% endblock %}

{% block content %}
	<h1>About Us - Tugba</h1><hr>
    <a href="{{ url_for('initialize_database_arenas') }}">Init DB for Arenas</a><br>

	<form action="{{ url_for('arenas_page') }}" method = "post">
		<table id="arenasTable">

		<tr>
			<th>Arena ID</th>
    		<th>Arena Name</th>
    		<th>Arena BuiltDate</th>
    		<th>Arena City</th>
    		<th>Arena Capacity</th>
  		</tr>

		{% for ID, ArenaName, ArenaBuiltDate, ArenaCity, ArenaCapacity in arenas %}
		<tr>
			<td class="ArenasTableItem">{{ID}}</td>
			<td class="ArenasTableItem">{{ArenaName}}</td>
			<td class="ArenasTableItem">{{ArenaBuiltDate}}</td>
			<td class="ArenasTableItem">{{ArenaCity}}</td>
			<td class="ArenasTableItem">{{ArenaCapacity}}</td>
			<td class="ArenasTableItem"><a href="{{ url_for('arenas_page_delete', DELETEID=ID) }}">Delete</a></td>
		</tr>

		{% endfor %}

		<tr>
			<td class="ArenasTableNewItem"> </td>
			<td class="ArenasTableNewItem"><input type="text" name="name" required="required"></td>
			<td class="ArenasTableNewItem"><input type="text" name="built-date"></td>
			<td class="ArenasTableNewItem"><input type="text" name="city" required="required"></td>
			<td class="ArenasTableNewItem"><input type="text" name="capacity"></td>
			<td class="ArenasTableNewItem"> </td>
		</tr>
		<tr>
			<td colspan="5"><input value="Add New Arena" name="add" type="submit"></td>
		</tr>
		</table>
	</form>
{% endblock %}
