<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="description" content="Adress of Volleyball - VolleyBASE">
<meta name="keywords" content="Volleyball, Database">

<title>VolleyBASE - {% block title %}{% endblock %}</title>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site_style.css') }}">
</head>

<body>
<div id="main">
    <div id="header">
        <a href="{{ url_for('home_page') }}"><img src="{{ url_for('static', filename='img/logo.png') }}" class="logo" alt="VolleyBASE" title="VolleyBASE"></a>
        <div id="topMenu">
            <div class="topMenuItem"><a href="{{ url_for('home_page') }}">Home</a></div>
            <div class="topMenuItem"><a href="{{ url_for('leagues_page') }}">Leagues</a></div>
            <div class="topMenuItem"><a href="{{ url_for('teams_page') }}">Teams</a></div>
            <div class="topMenuItem"><a href="{{ url_for('matches_page') }}">Matches</a></div>
            <div class="topMenuItem"><a href="{{ url_for('players_page') }}">Players</a></div>
            <div class="topMenuItem"><a href="{{ url_for('referees_page') }}">Referees</a></div>
            <div class="topMenuItem"><a href="{{ url_for('arenas_page') }}">Arenas</a></div>
            <div class="topMenuItem"><a href="{{ url_for('maillist_page') }}">Maillist</a></div>
        </div>
    <div style="clear:both;"></div>
    </div>

    <div id="content">
    	{% block content %}{% endblock %}
        <div style="clear:both;"></div>
    </div>

    <div id="footer">
		 <div id="footerLinks"><a href="{{ url_for('home_page') }}"><i>Home</i></a> | <a href="{{ url_for('leagues_page') }}"><i>Leagues</i></a> | <a href="{{ url_for('teams_page') }}"><i>Teams</i></a> | <a href="{{ url_for('matches_page') }}"><i>Matches</i></a> | <a href="{{ url_for('players_page') }}"><i>Players</i></a> | <a href="{{ url_for('referees_page') }}"><i>Referees</i></a> | <a href="{{ url_for('arenas_page') }}"><i>Arenas</i></a> | <a href="{{ url_for('maillist_page') }}"><i>Maillist</i></a> <br>
		 	<b>VolleyBASE Company&copy;2015</b></div>
		 <div id="footerDesigned"><b>Designed:</b>itucsdb1527</div>
         <div style="clear:both;"></div>
    </div>
</div>

</body>
</html>
