{% extends "layout.html" %}

{% block title %} Leagues {% endblock %}

{% block content %}
    <h1>Leagues - Cemal</h1><hr>

	<form action="{{ url_for('leagues_page') }}" method = "post">
	<table  align="center" style="border:hidden;" width="100%">
		<tr>
			<td  width="650px"  style="border:hidden;"> </td>
			<td width="150px" align="right" style="border:hidden;">Search League Name:</td>
			<td width="200px" style="border:hidden;"><input type="text" name="search" required="required" style="margin-left:3px;width:95%"></td>
			<td colspan="2"  width="100px" align="center" style="border:hidden;"><input value="Search" name="search" type="submit"></td>
		</tr>
		</table>
	</form>
	<br><br>
	<table id="leaguesTable">
		<tr>
			<td class="LeaguesTableHeader">League Name</td>
			<td class="LeaguesTableHeader">Country Information</td>
		</tr>
	{% for ID, League_Name, Name in leagues %}
		<tr>
		<td class="LeaguesTableItem"><a href="{{ url_for('leagues_season_page', LEAGUEID=ID) }}">{{League_Name}}</a></td>
		<td class="LeaguesTableItem">{{Name}}</td>
		</tr>
	{% endfor %}

	</table>
{% endblock %}
