{% extends "layout.html" %}

{% block title %} Maillist {% endblock %}

{% block content %}
    	<h1>About Us - Seyma</h1><hr>
        <a href="{{ url_for('initialize_database_maillist') }}">Init DB for Maillist</a><br>

		<form action="{{ url_for('maillist_page') }}" method = "post">
		<table id="maillistTable">

		{% for ID, Mail, TeamID in maillist %}
		<tr>
			<td class="MaillistTableItem">{{ID}}</td>
			<td class="MaillistTableItem">{{Mail}}</td>
			<td class="MaillistTableItem">{{TeamID}}</td>
			<td class="MaillistTableItem"><a href="{{ url_for('maillist_page_delete', DELETEID=ID) }}">Delete</a></td>
			<td class="MaillistTableItem"><a href="{{ url_for('maillist_page_update', UPDATEID=ID) }}">Update</a></td>
		</tr>
		{% endfor %}

		<tr>
			<td class="MaillistTableNewItem"> </td>
			<td class="MaillistTableNewItem"><input type="text" name="Mail" required="required"></td>
			<td class="MaillistTableNewItem"><input type="text" name="TeamID" required="required"></td>
			<td class="MaillistTableNewItem"> </td>
			<td class="MaillistTableNewItem"> </td>
		</tr>
		<tr>
			<td colspan="5"><input value="Add New Mail" name="add" type="submit"></td>
		</tr>
		</table>
	</form>
{% endblock %}