{% extends "layout.html" %}

{% block title %} Matches {% endblock %}

{% block content %}
    	<h1>About Us - Seyma</h1><hr>
        <a href="{{ url_for('initialize_database_matches') }}">Init DB for Matches</a><br>

		<form action="{{ url_for('matches_page') }}" method = "post">
		<table id="matchesTable">



		{% for ID, Team1Name, Team2Name , ArenaName , RefereeName , Season in matches %}
		<tr>
			<td class="MatchesTableItem">{{ID}}</td>
			<td class="MatchesTableItem">{{Team1Name}}</td>
			<td class="MatchesTableItem">{{Team2Name}}</td>
			<td class="MatchesTableItem">{{ArenaName}}</td>
			<td class="MatchesTableItem">{{RefereeName}}</td>
			<td class="MatchesTableItem">{{Season}}</td>
			<td class="MatchesTableItem"><a href="{{ url_for('matches_page_delete', DELETEID=ID) }}">Delete</a></td>
			<td class="MatchesTableItem"><a href="{{ url_for('matches_page_update', UPDATEID=ID) }}">Update</a></td>
		</tr>
		{% endfor %}

		<tr>
			<td class="MatchesTableNewItem"> </td>
			<td class="MatchesTableNewItem"><input type="text" name="Team1Name" required="required"></td>
			<td class="MatchesTableNewItem"><input type="text" name="Team2Name" required="required"></td>
			<td class="MatchesTableNewItem"><input type="text" name="ArenaName"></td>
			<td class="MatchesTableNewItem"><input type="text" name="RefereeName"></td>
			<td class="MatchesTableNewItem"><input type="number" name="Season"></td>
			<td class="MatchesTableNewItem"> </td>
			<td class="MatchesTableNewItem"> </td>
		</tr>
		<tr>
			<td colspan="5"><input value="Add New Match" name="add" type="submit"></td>
		</tr>
		</table>
	</form>
	<br>
	<a href="{{ url_for('maillist_page') }}">Maillist</a><br>
	<a href="{{ url_for('scores_page') }}">Scores Page</a><br><br>
{% endblock %}