{% extends "layout.html" %}

{% block title %} Matches {% endblock %}

{% block content %}
    <h1>About Us - Seyma</h1><hr>

<form action="APPLY" method = "post">
		<table id="matchesTable">

		{% for ID, Team1ID, Team2ID, ArenaName, RefereeName in matches %}
		<tr>
			<td class="MatchesTableItem"><input type="hidden" name="ID" required="required" value="{{ID}}"></td>

			<td class="MatchesTableItem"><select name="Team1ID">
			{% for ID, Team_Name in teams %}
			<option value="{{ID}}"{% print("selected") if Team1ID == ID %}> {{Team_Name}} </option>
			{% endfor %}
			</select>
			</td>

			<td class="MatchesTableItem"><select name="Team2ID">
			{% for ID, Team_Name in teams %}
			<option value="{{ID}}"{% print("selected") if Team2ID == ID %}> {{Team_Name}} </option>
			{% endfor %}
			</select>
			</td>

			<td class="MatchesTableItem"><input type="text" name="ArenaName" value="{{ArenaName}}"></td>
			<td class="MatchesTableItem"><input type="text" name="RefereeName" value="{{RefereeName}}"></td>
		</tr>
		{% endfor %}
		<tr>
			<td colspan="3"><input value="Add New Match" name="add" type="submit"></td>
		</tr>
		</table>
	</form>
	<a href="{{ url_for('matches_page') }}">Cancel The Operation</a><br>
{% endblock %}
