{% extends "layout.html" %}

{% block title %} Players {% endblock %}

{% block content %}
    	<h1>About Us - Meral</h1><hr>
    	<a href="{{ url_for('admin_players_page') }}">ADMIN Players Page</a><br><br>
        <form action="{{ url_for('players_page') }}" method = "post">
		<table >
		<tr>
			<td >Search Player Name:</td>
			<td><input type="text" name="search" required="required" style="margin-left:3px;width:95%"></td>
		</tr>
		<tr>
			<td colspan="2"><input value="Search" name="search" type="submit"></td>
		</tr>
		</table>
	</form>
	<br><br>
		<table id="playerpool">
			<tr>
				<td>NAME</td>
				<td>NATIONALITY</td>
				<td>AGE</td>
				<td>NUMBER</td>
				<td>POSITION</td>
			</tr>
		{% for ID, name, nationality, age, number, position in players %}
		<tr>
			<td class="playerItem">{{name}}</td>
			<td class="playerItem">{{nationality}}</td>
			<td class="playerItem">{{age}}</td>
			<td class="playerItem">{{number}}</td>
			<td class="playerItem">{{position}}</td>

		</tr>
		{% endfor %}

		</table>
{% endblock %}
