{% extends "layout.html" %}

{% block title %} Players {% endblock %}

{% block content %}
    	<h1>About Us - Meral</h1><hr>
        <a href="{{ url_for('initialize_database_players') }}">Init DB for Players</a><br>
        <form action="{{ url_for('players_search_page') }}" method = "post">
		<table >
		<tr>
			<td >Search Player Name:</td>
			<td><input type="text" name="search" required="required" style="margin-left:3px;width:95%"></td>
		</tr>
		<tr>
			<td colspan="2"><input value="Search" name="search" type="submit"></td>
		</tr>
		</table>
	</form>
	<br><br>
   <form action="{{ url_for('players_page') }}" method = "post">
		<table id="playerpool">
			<tr>
				<td>NAME</td>
				<td>NATIONALITY</td>
			</tr>
		{% for ID, name, nationality in players %}
		<tr>

			<td class="playerItem">{{name}}</td>
			<td class="playerItem">{{nationality}}</td>
			<td class="playerItem"><a href="{{ url_for('players_page_delete', DELETEID=ID) }}">Delete</a></td>
			<td class="playerItem"><a href="{{ url_for('players_page_update', UPDATEID=ID) }}">Update</a></td>

		</tr>
		{% endfor %}
		<tr>

			<td class="newPlayer"><input type="text" name="name" required="required"></td>
			<td class=newPlayer><select  name="nationalityID">
				{% for ID, nationality in nationalities %}
					<option value="{{ ID }}" >{{ nationality }}</option>
				{% endfor %}
			</select></td>
			<td> </td>
			<td> </td>
		</tr>
		<tr>
			<td colspan="2" align="right"><input value="Add New Person" name="add" type="submit"></td>
		</tr>
		</table>
	</form>
{% endblock %}
