{% extends "layout.html" %}

{% block title %} Referees {% endblock %}

{% block content %}
    <h1>About Us - Tugba</h1><hr>


<form action="APPLY" method = "post">
		<table id="refereesTable">

		{% for ID, RefereeName, RefereeAge in referees %}
		<tr>
			<td class="RefereesTableItem"><input type="hidden" name="ID" required="required" value="{{ID}}"></td>
			<td class="RefereesTableItem"><input type="text" name="name" required="required" value="{{RefereeName}}"></td>
			<td class="RefereesTableItem"><input type="number" name="age" value="{{RefereeAge}}"></td>
			<td class="RefereesTableItem"><select name="nationality">
				{% for ID, Nationality in nationalities %}
				<option value="{{ID}}"{% print("selected") if RefereeNationality == ID %}>{{ Nationality }}</option>
				{% endfor %}
				</select>
			</td>
		</tr>
		{% endfor %}
		<tr>
			<td colspan="3"><input value="Update Referee" name="add" type="submit"></td>
		</tr>
		</table>
	</form>
{% endblock %}
