{% extends "layout.html" %}

{% block title %} Referees {% endblock %}

{% block content %}
	<h1>About Us - Tugba</h1><hr>
    <a href="{{ url_for('initialize_database_referees') }}">Init DB for Referees</a><br>

	<form action="{{ url_for('referees_page') }}" method = "post">
		<table id="refereesTable">

		<tr>
			<th>Referee ID</th>
    		<th>Referee Name</th>
    		<th>Referee Age</th>
    		<th>Referee Nationality</th>
  		</tr>

		{% for ID, RefereeName, RefereeAge, Nationality in referees %}
		<tr>
			<td class="RefereesTableItem">{{ID}}</td>
			<td class="RefereesTableItem">{{RefereeName}}</td>
			<td class="RefereesTableItem">{{RefereeAge}}</td>
			<td class="RefereesTableItem">{{Nationality}}</td>
			<td class="RefereesTableItem"><a href="{{ url_for('referees_page_delete', DELETEID=ID) }}">Delete</a></td>
			<td class="RefereesTableItem"><a href="{{ url_for('referees_page_update', UPDATEID=ID) }}">Update</a></td>

		</tr>
		{% endfor %}

		<tr>
			<td class="RefereesTableNewItem"> </td>
			<td class="RefereesTableNewItem"><input type="text" name="name" required="required"></td>
			<td class="RefereesTableNewItem"><input type="number" name="age"></td>
			<td class="RefereesTableNewItem"><input type="number" name="nationality" required="required"></td>
			<td class="RefereesTableNewItem"> </td>
			<td class="RefereesTableNewItem"> </td>
		</tr>
		<tr>
			<td colspan="5"><input value="Add New Referee" name="add" type="submit"></td>
		</tr>
		</table>

		<div><a href="{{ url_for('nationalities_page') }}">Nationalities</a></div>
		<div><a href="{{ url_for('referees_page_search') }}">Referee Search</a></div>

	</form>
{% endblock %}
