{% extends "layout.html" %}

{% block title %} Referees {% endblock %}

{% block content %}
    <h1>About Us - Tugba</h1><hr>

<form action="SEARCHAPPLY" method = "post">

		<table id="refereesTable">

		{% for ID, RefereeName, RefereeAge, RefereeNationality in referees %}
		<tr>
			<td class="RefereesTableItem"><input type="hidden" name="ID" required="required" value="{{ID}}"></td>
			<td class="RefereesTableItem"><input type="text" name="name" required="required" value="{{RefereeName}}"></td>
			<td class="RefereesTableItem"><input type="number" name="age" value="{{RefereeAge}}"></td>
			<td class="RefereesTableItem"><input type="text" name="nationality" required="required" value="{{RefereeNationality}}"></td>
		</tr>
		{% endfor %}
		<tr>
			<td colspan="3"><input value="Search Referee" name="add" type="submit"></td>
		</tr>
		</table>
	</form>

	<div><a href="{{ url_for('referee_page') }}">Referees</a></div>
	<div><a href="{{ url_for('home_page') }}">Home Page</a></div>

{% endblock %}
