{% extends "layout.html" %}

{% block title %} Teams {% endblock %}

{% block content %}
    <h1>About Us - Meric</h1><hr>

<form action="APPLY" method = "post">
		<table id="teamsTable">

		{% for ID, Team_Name in teams %}
		<tr>
			<td class="TeamsTableItem"><input type="hidden" name="ID" required="required" value="{{ID}}"></td>
			<td class="TeamsTableItem"><input type="text" name="name" required="required" value="{{Team_Name}}"></td>
		</tr>
		{% endfor %}
		<tr>
			<td colspan="3"><input value="Update Team Name" name="add" type="submit"></td>
		</tr>
		</table>
	</form>
{% endblock %}
