{% extends "layout.html" %}

{% block title %} Teams {% endblock %}

{% block content %}
    <h1>About Us - Meric</h1><hr>
    <form action="{{ url_for('teams_page') }}" method = "post">
		<table id="teamsTable">

		{% for ID, Team_Name in teams %}
		<tr>
			<td class="TeamsTableItem">{{ID}}</td>
			<td class="TeamsTableItem">{{Team_Name}}</td>
			<td class="TeamsTableItem"><a href="{{ url_for('teams_page_delete', DELETEID=ID) }}">Delete</a></td>
		</tr>
		{% endfor %}
		<tr>
			<td class="TeamsTableNewItem"> </td>
			<td class="TeamsTableNewItem"><input type="text" name="name" required="required"></td>
			<td class="TeamsTableNewItem"> </td>
		</tr>
		<tr>
			<td colspan="5"><input value="Add New Team" name="add" type="submit"></td>
		</tr>
		</table>
	</form>
{% endblock %}
