{% extends "layout.html" %}

{% block title %} Teams {% endblock %}

{% block content %}
    <h1>Teams Page - Meric</h1><hr>
    <a href="{{ url_for('admin_teams_page') }}">ADMIN Teams Page</a><br><br>
	<form action="{{ url_for('teams_page') }}" method = "post">
		<table >
		<tr>
			<td >Search Team Name:</td>
			<td><input type="text" name="search" required="required" style="margin-left:3px;width:95%"></td>
		</tr>
		<tr>
			<td colspan="2"><input value="Search" name="search" type="submit"></td>
		</tr>
		</table>
	</form>
	<br><br>
	
    <p>Click any teams below to access Season_Team pages of clicked team.<p>
	
	<table id="teamsTable">
	<tr>
		<td class="teamsTableHeader"><b><center>League Name</b></center></td>
	</tr>
	{% for ID, Team_Name in teams %}
	<tr>
		<td class="teamsTableItem"><a href="{{ url_for('teams_season_team_page', TEAMID=ID) }}">{{Team_Name}}</a></td>
	</tr>
	{% endfor %}

	</table>

{% endblock %}
